# App Config
DEBUG=true
ENVIRONMENT=development
LOG_LEVEL=INFO

# Redis
# Use 'localhost' se rodar fora do Docker, ou 'redis' se rodar via docker-compose
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# SWAPI (External)
SWAPI_BASE_URL=https://swapi.dev/api

# Security
API_KEY_SECRET=sua_chave_secreta_aqui